:root{
    --bluemain:#0065FC;
    --bgmain:#F2F2F2;
    --selectblue:#DEEBFF;
}

/*Style général*/
body{
    font-family: "Raleway", "Sans serif";
    margin:0px;
    background-color:#fff;
}

a{
    text-decoration: none;
    color: inherit;
}

.global{
    margin: 0px 60px;
}


/*Header*/
.header{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    display:flex;
    height:40px;  
}

.logolink{
    margin:30px 0px; 
}

nav{
    display:flex;
    padding-right: 3%;
    align-items:flex-end;

}

.navlink{
    font-weight: 400;
    font-size: 18px;
    margin:0px 20px 40px 20px;
    padding-top:36px ;
}
.navlink:hover{
    color:var(--bluemain);
    border-top: 3px solid var(--bluemain)
}

/*Recherche*/
.search{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 22px;
}

.searchbutton{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: -5px;
}

.searchmarker {
    font-size:16px ; 
    border: 12px var(--bgmain) solid;
    border-radius: 10px 0px 0px 10px;
    background:var(--bgmain);
}

#citysearch{
    height: 36px ;
    font-weight: bold;
    border: 1px var(--bgmain) solid;

}
.desksearch{
    font-size: 15px;
    border: 11px solid var(--bluemain);
    background: var(--bluemain);
    color:#F2F2F2;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    cursor:pointer;
}

.phonesearch{
    display:none;
    color:#F2F2F2;
    font-size:16px ; 
    border: 12px var(--bluemain) solid;
    background: var(--bluemain);
    border-radius: 10px;
    cursor:pointer;
}

/*Filtres*/
.filterarea{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.filters{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

.filtertitle{
    font-weight: bold;
    font-size: 18px ;
    margin-right: 20px;
}

.solofilter{
    display:flex;
    align-items:center;
    margin-left:25px;
}

.filtermarks{
    display:flex;
    align-items: center;
    justify-content: center;
    color:var(--bluemain);
    border-radius: 25px;
    border:var(--selectblue) solid 9px;
    position:relative;
    background:var(--selectblue);
    height:22px;
    width:22px;
}


.filtertext{
    display:inline;
    font-weight: bold;
    border:rgba(194, 193, 193, 0.678) solid 1px;
    border-radius: 20px;
    padding:11px 15px 11px 40px;
    margin-left:-35px;
    box-sizing: border-box;
    cursor:pointer;
}

.filtertext:hover{
    background-color: var(--selectblue);
    border-color: var(--selectblue);
}

.filtertextfamily:hover{
    background-color: var(--selectblue);
    border-color: var(--selectblue);
}




.info{
    display:flex;
    align-items: center;
    margin-top: 20px;
}
.fa-info{
    color:var(--bluemain);
    border:1px lightgrey solid;
    border-radius: 25px;
    padding:5px 10px;
    margin-right: 1%;
}

/*Hebergement*/

.Hebergements{
    display:flex;
    margin:30px 0px;
    justify-content: space-between;
}

.targetlodging{
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 63%;
    background-color: var(--bgmain);
    border-radius: 20px;
    padding: 25px;
    margin-right:40px;
    justify-content: space-between;
}

.targetheader{
    width:100%;
}

.targetheadertitle{
    font-size: 22px;
    padding-left: 15px;
    margin: 14px 0px;
}

.targetcard{
    flex:0 0 29%;
    margin:15px;
}

.targetcard:hover{
    transform: scale(1.01);
}
.targetfigure{
    background-color: #fff;
    padding:6px;
    border-radius: 20px;
    margin:0px;
    box-shadow:2px 2px 5px #d8d3d3 ;
}

.targetimg{
    border-radius: 10px 10px 0px 0px ;
    object-fit:cover ;
    width:100%;
    height:145px;
}
.targetfiguretitle{
    font-size: 18px;
    margin:7px 0px;
    padding-left:9px;
}

.targetcardprice{
    font-size: 16px;
    margin:7px 0px;
    padding-left:9px;
}

.targetcardgrade{
    padding-left:9px;
}
.goodgrade{
    color:var(--bluemain);
    font-size:13px;
    margin-right:-2px
}

.badgrade{
    color:lightgrey;
    font-size:13px;
    margin-right:-2px;
}

.moretargetlodging{
    width:100%;
    font-weight: bold;
    font-size: 17px;
    padding-left: 15px;
    margin: 14px 0px;
    cursor:pointer;
}

.popularlodging{
    display:flex;
    flex-flow:column wrap;
    flex: 0 1 27%;
    background-color: var(--bgmain);
    border-radius: 20px;
    padding: 25px;
}

.popularheader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populartitle{
    font-size: 22px;
    margin:14px 0px;
}

.popularicon{
    font-size: 22px;
}

.popularcard{
    margin :15px;
}

.popularcard:hover{
    transform: scale(1.01);
}
.popularfigure{
    background-color: #fff;
    padding:6px;
    border-radius: 20px;
    margin:0px;
    box-shadow:2px 2px 5px #d8d3d3 ;  
    display:flex;
    flex:wrap;
}

.popularimg{
    border-radius: 10px 0px 0px 10px ;
    object-fit:cover ;
    width:100%;
    flex:1 40%;
    height:150px;
}

.popularfigurecaption{
    display:flex;
    padding:5px 20px 10px 0px;
    flex-direction: column;
    flex: 1 60%;
    justify-content: space-between;

}
.popularfiguretitle{
    font-size: 18px;
    margin:5px 0px 0px;
    padding-left:9px;
}

.popularcardprice{
    font-size: 15px;
    margin-top:6px;
    margin-bottom:30px;
    padding-left:9px;
}

.popularcardgrade{
    padding-left:9px;
}

/*Activités*/

.activities{
    margin: 30px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activitiesheader{
    width: 100%;
}

.activityfigure{
    background-color: #fff;
    border-radius: 20px;
    margin:0px;
    box-shadow:2px 2px 5px #d8d3d3 ;
}

.activityfiguretitle{
    padding:15px 0px 20px 20px;
    margin:0px;
    font-size: 15px;
}

.activitybig{
    flex:0 1 22%;
}


.activitybigimg{
    object-fit: cover;
    width: 100%;
    height:450px;
    border-radius: 20px 20px 0px 0px;
}

.activitiesduo{
    flex:0 1 22%;
    display:flex;
    flex-direction: column;
    height:505px;
    justify-content: space-between;
}

.activitysmall1:hover, .activitysmall2:hover, .activitysmall3:hover, .activitysmall4:hover, .activitybig:hover{
    transform:scale(1.01)
}

.activitysmall1img {
    object-fit: cover;
    width: 100%;
    height:210px;
    border-radius: 20px 20px 0px 0px;
}

.activitysmall2img {
    object-fit: cover;
    width: 100%;
    height:150px;
    border-radius: 20px 20px 0px 0px;
}

.activitysmall3img {
    object-fit: cover;
    width: 100%;
    height:180px;
    border-radius: 20px 20px 0px 0px;
}

.activitysmall4img {
    object-fit: cover;
    width: 100%;
    height:180px;
    border-radius: 20px 20px 0px 0px;
}
/*Footer*/
.footer{
    display:flex;
    padding: 0% 30% 2% 53px;
    justify-content:space-between;
    background-color: #F2F2F2;
    margin-top:30px;
}

ul{
    list-style: none;
    padding-left: 0px;
}

li{
    padding-top: 10px;
}

.footercategory{
    padding-bottom: 3px;
    font-weight: bold;
}
.footerlink:hover{
    text-shadow: 1px 0px 0px black;
}

@media only screen and (min-width : 768px) and (max-width : 1024px){
    
}

@media only screen and (min-width : 280px) and (max-width : 767px){

.global{
    margin-left:53px;
}

/*header*/

.header{
    justify-content: space-around;
    margin-left:-53px;
}

.logo{
    margin:25px 200px 0px 200px;
}

nav{
    width: 100%;
    padding:0px 0px 0px 0px;
}

.navlink{
    box-sizing: content-box;
    text-align: center;
    width:100%;
    font-weight: 400;
    font-size: 18px;
    margin:0px;
    padding:5% 0px 5px 0px ;
    border-bottom: rgba(238, 236, 236, 0.911) solid 3px;
}

.navlink:hover{
    border-top:hidden;
    border-bottom: solid var(--bluemain) 3px
}
/*Recherche*/

.search{
    display: flex;
    padding-top: 25px;
    justify-content: center;
}


h1{
    font-size: 19px;
}

.searchbutton{
    display:flex;
}
.desksearch{
    display:none;
}
.phonesearch{
    display:flex;
    position:relative;
    right:15px;
}

/*Filtres*/
.filtertitle{
    width:100%;
}

.solofilter{
    margin:6px 0px;
}
.filtertext{  
    display:inline;
    font-weight: 560;
    border:rgba(194, 193, 193, 0.678) solid 2px;
    border-radius: 20px;
    padding:8px 10px 4px 40px;
    margin-left:-14%;
}

footer{
    display: flex;
    flex-wrap: wrap;
}
}