:root{
    --bluemain:#0065FC;
    --bgmain:#F2F2F2;
}

/*Style général*/

body{
    font-family: "Raleway", "Sans serif";
    margin:0px;
    background-color:var(--bgmain)
}

a{
    text-decoration: none;
    color: inherit;
}


/*Header*/
.header{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
}

.logo{
    display:flex;
    height:50px;
    margin:30px 12px;   
    padding-left: 22px; 
}

nav{
    display:flex;
    padding-right: 70px;
    align-items:flex-end;

}

.navlink{
    font-weight: 400;
    font-size: 18px;
    margin:0px 20px 40px 20px;
    padding-top:46px ;
}
.navlink:hover{
    color:var(--bluemain);
    border-top: 3px solid var(--bluemain)
}

/*Recherche*/
.search{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin:-10px 0px;
    padding:10px 50px;
}

h1{
    font-size: 22px;
}

.searchbutton{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    background-color: #fff;
    margin-top: -5px;
}

#marker {
    font-size:16px ; 
    border: 12px var(--bgmain) solid;
    background: var(--bgmain);
    border-radius: 10px 0px 0px 10px;
}
#citysearch{
    height: 36px ;
    font-weight: bold;
    border: 1px var(--bgmain) solid;
}
.desksearch{
    font-size: 15px;
    border: 11px solid var(--bluemain);
    background: var(--bluemain);
    color:#F2F2F2;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    position:relative;
    
}
.phonesearch{
    visibility: hidden;
    color:#F2F2F2;
    font-size:16px ; 
    border: 11px var(--bluemain) solid;
    background: var(--bluemain);
    border-radius: 10px;
    

}






@media only screen and (min-width : 768px) and (max-width : 1024px){
    
}

@media only screen and (min-width : 280px) and (max-width : 767px){

/*header*/

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: content-box;
    width: 100%;
}

.logo{
    margin:25px 200px 0px 200px;
}

nav{
    box-sizing: content-box;
    width: 100%;
    margin:0px;
    padding:0px 0px 0px 0px;
}

.navlink{
    box-sizing: content-box;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    margin:0px;
    padding:40px 0px 5px 0px ;
    border-bottom: rgba(238, 236, 236, 0.911) solid 3px;
}

.navlink:hover{
    border-top:hidden;
    border-bottom: solid var(--bluemain) 3px
}
/*Recherche*/

.search{
    max-width:100%;
    display: flex;
    padding-top: 25px;
    justify-content: center;
}


h1{
    font-size: 19px;
}

.searchbutton{
    display:flex;
}
.desksearch{
    visibility: hidden;
}
.phonesearch{
    visibility: visible;
    position: relative;
    right:110px;
}
}